<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Detail</h1>
                                <!-- breadcrumb Start-->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                                    </ol>
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--?  Detail Start-->
    <div class="courses-area section-padding40 fix">
        <section class="about-area1 fix pt-10">
            <div class="support-wrapper align-items-center father-container">
                <div class="left-content">
                    <iframe class="popup-video btn-icon video" width="1280" height="600"
                        src="https://www.youtube.com/embed/Ru7SMx0gIMQ?list=PLdTPQ62ogX0bTZN8tonkVP0pyYEsrLgts"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                {{!-- <div class="right-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam repellat tempora, maxime est
                        unde blanditiis commodi, laudantium dolore quaerat necessitatibus odit eligendi nulla
                        accusantium earum fugiat. Totam iusto itaque nisi!</p>
                </div> --}}
            </div>
        </section>

        <div class="container">
            <section class="about-area1 fix pt-10">
                <div class="row justify-content-left">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle mb-55">
                            <h2>Discussion</h2>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {{!-- Start Comment--}}
        <section class="about-area1 fix pt-10">
            <div class="father-container support-wrapper align-items-center container">
                <div class="left-content" style="margin-left: 0;">
                    <div class="comment_list">
                        <div class="review_item">
                            <div class="media">
                                <div class="d-flex">
                                    <img src="img/product/review-1.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Blake Ruiz</h4>
                                    <h5>12th Feb, 2018 at 05:56 pm</h5>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi
                                ut aliquip ex ea
                                commodo</p>
                        </div>
                        <div class="review_item">
                            <div class="media">
                                <div class="d-flex">
                                    <img src="img/product/review-3.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Blake Ruiz</h4>
                                    <h5>12th Feb, 2018 at 05:56 pm</h5>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi
                                ut aliquip ex ea
                                commodo</p>
                        </div>
                    </div>
                </div>
                <div class="right-content" style="margin-top: -76px;">
                    <div class="review_box">
                        <h4>Post a comment</h4>
                        <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                            novalidate="novalidate">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="Your Full name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="number" name="number"
                                        placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" rows="1"
                                        placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" value="submit" class="btn primary-btn">Submit Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        {{!-- End Comment --}}
        <!--?  Detail End-->

</main>