<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Detail</h1>
                                <!-- breadcrumb Start-->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                                    </ol>
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--?  Detail Start-->
    <div class="courses-area section-padding40 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55">
                        <h2>Introduction To Math Grade 10</h2>
                    </div>
                </div>
            </div>
        </div>

        <section class="about-area1 fix pt-10">
            <div class="support-wrapper align-items-center">
                <div class="left-content1">
                    <div class="about-icon">
                        <img src="/img/icon/about.svg" alt="">
                    </div>
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-55">
                        <div class="front-text">
                            <h2 class="">Learn new skills online with top educators</h2>
                            <p>The automated process all your website tasks. Discover tools and
                                techniques to engage effectively with vulnerable children and young
                                people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Techniques to engage effectively with vulnerable children and young people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world learning together.</p>
                        </div>
                    </div>

                    <div class="single-features">
                        <div class="features-icon">
                            <img src="/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world learning together. Online learning is as
                                easy and natural.</p>
                        </div>
                    </div>
                </div>
                <div class="right-content1">
                    <iframe class="popup-video btn-icon" width="800" height="500"
                        src="https://www.youtube.com/embed/Ru7SMx0gIMQ?list=PLdTPQ62ogX0bTZN8tonkVP0pyYEsrLgts"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </section>

        <div class="container">
            <section class="about-area1 fix pt-10">
                <div class="row justify-content-left">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle mb-55">
                            <h2>Courses Outline</h2>
                        </div>
                    </div>
                </div>
                <div id="outline-1" style="background-color: #e6e6e6;">
                    <p class="p-4 outline-text">Introduction To Learn Math</p>
                    <ul class="learn-outline-list p-4">
                        <li class="learn-outline-item">
                            <a href="">01. Introduction To Number</a>
                        </li>
                        <li class="learn-outline-item">
                            <a href="">02. Calculate The Area</a>
                        </li>
                    </ul>
                </div>

                <div id="outline-2" style="background-color: #e6e6e6;">
                    <p class="p-4 outline-text">Introduction To Learn Math</p>
                    <ul class="learn-outline-list p-4">
                        <li class="learn-outline-item">
                            <a href="">01. Introduction To Number</a>
                        </li>
                        <li class="learn-outline-item">
                            <a href="">02. Calculate The Area</a>
                        </li>
                        <li class="learn-outline-item">
                            <a href="">02. Calculate The Area</a>
                        </li>
                        <li class="learn-outline-item">
                            <a href="">02. Calculate The Area</a>
                        </li>
                        <li class="learn-outline-item">
                            <a href="">02. Calculate The Area</a>
                        </li>
                    </ul>
                </div>

                <div id="outline-3" style="background-color: #e6e6e6;">
                    <p class="p-4 outline-text">Introduction To Learn Math</p>
                    <ul class="learn-outline-list p-4">
                        <li class="learn-outline-item">
                            <a href="">01. Introduction To Number</a>
                        </li>
                        <li class="learn-outline-item">
                            <a href="">02. Calculate The Area</a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <!--?  Detail End-->

</main>